h2 {
  margin-left: 10px;
  padding-left: 10px;
}

h6 {
  margin-left: 10px;
  padding-left: 10px;
}

.WeatherInfo ul,
li {
  list-style: none;
}

.weather-info {
  color: #6a0fa3;
}

.temp-conversion {
  font-size: 60px;
  padding: 0 0;
  margin: 0 0;
  float: left;
}

.weather-description {
  text-transform: capitalize;
}
